body {
    margin: 0;
}

nav {
    background-color: #fff;
    color: #fff;
    font-size: 16px;
  }
  
#nav {
    border: solid 1px darkblue;
    list-style-type: none;
    margin: 0;
  }
  
#nav > li {
    display: inline-block;
    padding-right: 10px;
    height:auto;
    width: auto;
  }

#nav > li :hover{
    background-color: rgb(235, 235, 139);
  }
  
  a {
    text-decoration: none;
    color:black;
  }

#title {
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

#contact {
  margin:0;
}